html {
    height:100%;
}

body {
    margin:0;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

header {
    background-color: #0D2C40;
    color: #FFFFFF;
    padding-bottom: 20px;
    padding-top: 20px; 
    padding-right: 20px;
    padding-left: 20px;
    }
header img{
    height: 80px;
    width: 80px;
    float: left;
}
header h1 {
    font-family: Trattatello;
    font-size: 50px;
    color: white;
    margin: 0;
}
/*Navigation CSS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    font-family: impact;
    text-align: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: grey;
  }
  /**********************************/
section {
    margin: auto;
    width: 580px;
}

section div {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 5px;
    background-color: floralwhite;
    text-align: center;
    vertical-align: middle;
    line-height: 180px;
    font-size: 120px;
    color: cadetblue;
    opacity: 0.7;
}

button {
    margin: 10px auto;
    width: 200px;
    font-size: 20px;
    display: block;
}

.disable {
    pointer-events: none;
    background-color: lightgray;
    opacity: 0.3;
}

.clicked {
    pointer-events: none;
}
/*FOOTER*/
/**********************************/
footer {
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14;
	letter-spacing: .08em;
	font-weight: 500;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }

    footer img{
        height: 55px;
        width: 55px;
    }

    #gb{
        text-align: center;
    }